{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}
                    <p>
                        { user.about_me }
                    </p>
                {% endif %}
                {% if user.last_seen %}
                    <p>
                        Last seen in: {{ user.last_seen }}
                    </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <h1>User: {{ user.username }}</h1>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}